.visNetwork {
  .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
  
    .vis-network{
      border: 5px solid;
      border-color: #1f2833;
      background-color: #c5c6c7;
      margin-top: 50px;
    }
  }

  .container {
    display:flex;
    justify-content: center;
    align-items: center;
    
    .addNode {
      width: 100px;
      height: 50px;
      margin-top: 80px;
      margin-right: 50px;
    }

    .addEdge {
      width: 100px;
      height: 50px;
      margin-top: 80px;
    }

    .id1 {display: none;}
    .id2 {display: none;}
    .movieId {display: none;}
    .movieName {display: none;}

    &.active {
      .id1 {
        display: flex;
        margin-top: 30px;
        margin-right: 20px;
        width: 200px;
      }
      .id2 {
        display: flex;
        margin-top: 30px;
        width: 200px;
      }
      .movieName {
        display: flex;
        margin-top: 30px;
        margin-right: 20px;
        width: 200px;
      }
      .movieId {
        display: flex;
        margin-top: 30px;
        width: 200px;
      }
    }
  }
}